include dash_holoniq_components/*.js
include dash_holoniq_components/*.map
include dash_holoniq_components/async-*.js
include dash_holoniq_components/async-*.js.map
include dash_holoniq_components/*-shared.js
include dash_holoniq_components/*-shared.js.map
include dash_holoniq_components/metadata.json
include dash_holoniq_components/package-info.json
include landing-page.md
include README.md
include LICENSE
include package.json
