
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.markdown-body hr {
    box-sizing: content-box;
    background: 0 0;
    overflow: hidden;
    background-color: #e1e4e8;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
    border-bottom-color: #eee;
}

.markdown-body {
    min-width: 882px;
    max-width: 882px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    padding: 48px;
    margin: 20px auto;
}
